#define ZMK_MACRO_UMLAUT(name, key) \
    name: macro_umlaut__##name { \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        bindings \
            = <&macro_release &kp LSHFT> \
            , <&macro_press &kp LALT> \
            , <&macro_tap &kp U> \
            , <&macro_release &kp LALT> \
            , <&macro_tap &kp key> \
            ; \
    }; \
    ##name##_s: macro_umlaut_s__##name { \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        bindings \
            = <&macro_release &kp LSHFT> \
            , <&macro_press &kp LALT> \
            , <&macro_tap &kp U> \
            , <&macro_release &kp LALT> \
            , <&macro_tap &kp LS(key)> \
            ; \
    };


#define ZMK_TAP_DANCE_UMLAUT(name, key, macro) \
    td_##name: tap_dance_umlaut__##name { \
        compatible = "zmk,behavior-tap-dance"; \
            #binding-cells = <0>; \
            tapping-term-ms = <400>; \
            bindings = <&kp key>, <&macro>; \
    }; \
    td_s_##name: tap_dance_umlaut_s__##name { \
        compatible = "zmk,behavior-tap-dance"; \
            #binding-cells = <0>; \
            tapping-term-ms = <400>; \
            bindings = <&kp key>, <&macro##_s>; \
    }; \
    name: mod_morph_umlaut__##name { \
        compatible = "zmk,behavior-mod-morph"; \
        #binding-cells = <0>; \
        bindings = <&td_##name>, <&td_s_##name>; \
        mods = <(MOD_LSFT|MOD_RSFT)>; \
    };


#define ZMK_MOD_MORPH_S(name, normal, shifted) \
    name: mod_morph__##name { \
        compatible = "zmk,behavior-mod-morph"; \
        #binding-cells = <0>; \
        bindings = <normal>, <shifted>; \
        mods = <(MOD_LSFT|MOD_RSFT)>; \
    };

#define ZMK_HOMEROW_BINDINGS(name, binding1, binding2) \
    name: homerow_mods_##name { \
        compatible = "zmk,behavior-hold-tap"; \
        #binding-cells = <2>; \
        tapping-term-ms = <150>; \
        flavor = "tap-preferred"; \
        retro-tap; \
        bindings = <binding1>, <binding2>; \
    };


